.header{
    background: #1c1c1c;
    display: flex;
    margin-bottom: 30px;
}

.header-cont{
    display: flex;
    width: 100%;
    max-width: 1320px;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.logo{
    width: 20%;
}

.logo img{
    width: 60px;
}

.head{
    width: 60%;
    color: #FFFFFF;
    font-size: 1.5em;
    margin-bottom: 0;
}